body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #222;
}

header {
  background-color: #222;
  color: white;
  padding: 30px 0;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 3rem;
  margin: 0;
  font-weight: 700;
  letter-spacing: 2px;
  user-select: none;
}

/* Botones */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  flex-grow: 1;
  gap: 20px;
}

.btn {
  display: block;
  background-color: #333;
  color: white;
  padding: 15px 30px;
  width: 250px;
  max-width: 90vw;
  margin: 0 auto;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, transform 0.2s;
  text-align: center;
  user-select: none;
}

.btn:hover,
.btn:focus {
  background-color: #555;
  transform: scale(1.05);
  outline: none;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: #111;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  user-select: none;
  border-top: 3px solid #0af;
}

.footer-content p {
  margin: 0 0 10px 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
}

.footer-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: color 0.3s ease;
}

.footer-links li a:hover,
.footer-links li a:focus {
  color: #0af;
  outline: none;
}

.language-selector .flag {
  width: 24px;
  height: 16px;
  opacity: 0.6;
  /* menos visibles las no activas */
  cursor: pointer;
  transition: all 0.3s ease;
}

.language-selector .flag.active {
  width: 32px;
  height: 22px;
  opacity: 1;
  /* totalmente visible la activa */
  border-color: #f5b942;
  /* dorado */
  box-shadow: 0 0 5px #f5b942;
}





/* Responsive */
@media (max-width: 600px) {
  .btn {
    width: 100%;
    max-width: 300px;
    font-size: 1.1rem;
  }

  .buttons {
    padding: 20px 10px;
  }

  .language-selector .flag {
    width: 24px;
    /* un poco más pequeñas en móvil */
    height: 16px;
  }
}